<config>
	<modules>
		<Sugestio_Recommender>
			<version>0.1.2</version>
			<depends>
				<!-- no dependencies -->
			</depends>
		</Sugestio_Recommender>
	</modules>
	<global>
		<events>
		</events>
		<helpers>
			<sugestio>
				<class>Sugestio_Recommender_Helper</class>
			</sugestio>
		</helpers>
		<models>
			<sugestio>
				<class>Sugestio_Recommender_Model</class>
				<resourceModel>sugestio_mysql4</resourceModel>
			</sugestio>
			<sugestio_mysql4>
				<class>Sugestio_Recommender_Model_Mysql4</class>
				<entities>
					<cron>
						<table>sugestio_cron</table>
					</cron>
				</entities>
			</sugestio_mysql4>
			<rating>
				<rewrite>
					<rating_option>Sugestio_Recommender_Model_Rating_Option
					</rating_option>
				</rewrite>
			</rating>
		</models>
		<resources>
			<sugestio_setup>
				<setup>
					<module>Sugestio_Recommender</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</sugestio_setup>
			<sugestio_write>
				<connection>
					<use>core_write</use>
				</connection>
			</sugestio_write>
			<sugestio_read>
				<connection>
					<use>core_read</use>
				</connection>
			</sugestio_read>
		</resources>
		<blocks>
			<sugestio_recommender>
				<class>Sugestio_Recommender_Block</class>
			</sugestio_recommender>
		</blocks>
		<newproduct><!-- config values -->
		</newproduct>
	</global>
	<adminhtml>
		<menu></menu>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<sugestio translate="title" module="customer">
											<title>Sugestio</title>
											<sort_order>50</sort_order>
										</sugestio>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<events>
			<catalog_product_save_after>
				<observers>
					<sugestio_productSaved>
						<type>singleton</type>
						<class>Sugestio_Recommender_Model_Observer</class>
						<method>productSaved</method>
					</sugestio_productSaved>
				</observers>
			</catalog_product_save_after>
			<catalog_controller_product_delete>
				<observers>
					<sugestio_productDeleted>
						<type>singleton</type>
						<class>Sugestio_Recommender_Model_Observer</class>
						<method>productDeleted</method>
					</sugestio_productDeleted>
				</observers>
			</catalog_controller_product_delete>
			<adminhtml_customer_save_after>
				<observers>
					<sugestio_customerSaved_Adminhtml>
						<type>singleton</type>
						<class>Sugestio_Recommender_Model_Observer</class>
						<method>customerSaved</method>
					</sugestio_customerSaved_Adminhtml>
				</observers>
			</adminhtml_customer_save_after>
			<adminhtml_customer_delete_after>
				<observers>
					<sugestio_customerDeleted_Adminhtml>
						<type>singleton</type>
						<class>Sugestio_Recommender_Model_Observer</class>
						<method>customerDeleted_Adminhtml</method>
					</sugestio_customerDeleted_Adminhtml>
				</observers>
			</adminhtml_customer_delete_after>
		</events>
		<translate></translate>
	</adminhtml>
	<frontend>
		<routers></routers>
		<events>
			<wishlist_add_product>
				<observers>
					<sugestio_productAddedToWishlist>
						<type>singleton</type>
						<class>Sugestio_Recommender_Model_Observer</class>
						<method>productAddedToWishlist</method>
					</sugestio_productAddedToWishlist>
				</observers>
			</wishlist_add_product>
			<catalog_controller_product_view>
				<observers>
					<sugestio_productViewed>
						<type>singleton</type>
						<class>Sugestio_Recommender_Model_Observer</class>
						<method>productViewed</method>
					</sugestio_productViewed>
				</observers>
			</catalog_controller_product_view>
			<checkout_cart_product_add_after>
				<observers>
					<sugestio_productAddedToCart>
						<type>singleton</type>
						<class>Sugestio_Recommender_Model_Observer</class>
						<method>productAddedToCart</method>
					</sugestio_productAddedToCart>
				</observers>
			</checkout_cart_product_add_after>
			<rating_vote_added>
				<observers>
					<sugestio_productReviewed>
						<type>singleton</type>
						<class>Sugestio_Recommender_Model_Observer</class>
						<method>productRated</method>
					</sugestio_productReviewed>
				</observers>
			</rating_vote_added>
			<catalog_product_compare_add_product>
				<observers>
					<sugestio_productCompared>
						<type>singleton</type>
						<class>Sugestio_Recommender_Model_Observer</class>
						<method>productCompared</method>
					</sugestio_productCompared>
				</observers>
			</catalog_product_compare_add_product>
			<customer_save_after>
				<observers>
					<sugestio_customerAdded_Frontend>
						<type>singleton</type>
						<class>Sugestio_Recommender_Model_Observer</class>
						<method>customerSaved</method>
					</sugestio_customerAdded_Frontend>
				</observers>
			</customer_save_after>
			<customer_delete_after>
				<observers>
					<sugestio_customerDeleted_Frontend>
						<type>singleton</type>
						<class>Sugestio_Recommender_Model_Observer</class>
						<method>customerDeleted_Frontend</method>
					</sugestio_customerDeleted_Frontend>
				</observers>
			</customer_delete_after>
			<checkout_type_onepage_save_order_after>
				<observers>
					<sugestio_checkedOut_onepage>
						<type>singleton</type>
						<class>Sugestio_Recommender_Model_Observer</class>
						<method>checkedOut_onepage</method>
					</sugestio_checkedOut_onepage>
				</observers>
			</checkout_type_onepage_save_order_after>
			<checkout_type_multishipping_create_orders_single>
				<observers>
					<sugestio_checkedOut_multishipping>
						<type>singleton</type>
						<class>Sugestio_Recommender_Model_Observer</class>
						<method>checkedOut_multishipping</method>
					</sugestio_checkedOut_multishipping>
				</observers>
			</checkout_type_multishipping_create_orders_single>
		</events>
		<translate></translate>
		<layout>
			<updates>
				<sugestio>
					<file>sugestio.xml</file>
				</sugestio>
			</updates>
		</layout>
	</frontend>
	<default>
		<sugestio>
			<configuration>
				<url>http://api.sugestio.com</url>
				<account></account>
				<key></key>
				<number_items>5</number_items>
				<cache_enable>1</cache_enable>
				<cache_ttl>1</cache_ttl>
				<realtime>1</realtime>
				<security_on>1</security_on>
			</configuration>
		</sugestio>
	</default>
	<crontab>
		<jobs>
			<sugestio_cron>
				<schedule>
					<cron_expr>* * * * *</cron_expr>
				</schedule>
				<run>
					<model>sugestio/observer::cron</model>
				</run>
			</sugestio_cron>
		</jobs>
	</crontab>
</config>

