<?xml version="1.0"?>
<config>
	<tabs>
		<sugestio translate="label" module="sugestio">
			<label>Sugestio</label>
			<sort_order>301</sort_order>
		</sugestio>
	</tabs>
	<sections>
		<sugestio translate="label" module="sugestio">
			<label>Sugestio Configuration</label>
			<tab>sugestio</tab>
			<sort_order>130</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>

				<!-- Create a field group for your config paths -->
				<configuration translate="label">
					<label>Sugestio Configuration</label>
					<frontend_type>text</frontend_type>
					<sort_order>305</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>

					<!-- List your config values here -->
					<fields>

						<!-- This goes for sugestio/sugestio_group/account -->
						<url translate="label">
							<label>Url of the Sugestio API</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</url>

						<!-- This goes for sugestio/sugestio_group/account -->
						<account translate="label">
							<label>Accountname</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</account>

						<!-- This goes for sugestio/sugestio_group/key -->
						<key translate="label">
							<label>Key</label>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</key>

						<!-- This goes for sugestio/sugestio_group/number_items -->
						<number_items translate="label">
							<label>Number Items</label>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</number_items>

						<!-- This goes for sugestio/sugestio_group/cache_enable -->
						<cache_enable translate="label">
							<label>Enable caching</label>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<frontend_type>select</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</cache_enable>

						<!-- This goes for sugestio/sugestio_group/cache_ttl -->
						<cache_ttl translate="label">
							<label>Cache expire time (h)</label>
							<frontend_type>text</frontend_type>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</cache_ttl>

						<!-- This goes for sugestio/sugestio_group/realtime -->
						<realtime translate="label">
							<label>Send realtime hook events</label>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<frontend_type>select</frontend_type>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</realtime>

						<!-- This goes for sugestio/sugestio_group/security_on -->
						<security_on translate="label">
							<label>Security On</label>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<frontend_type>select</frontend_type>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</security_on>

					</fields>
				</configuration>
			</groups>
		</sugestio>
	</sections>
</config>
